repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-case-conflict
    - id: detect-private-key
    - id: check-yaml
      args: [--allow-multiple-documents]
      exclude: templates/

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
    - id: helmlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.31.1
    hooks:
      - id: typos
        args: ["--exclude=toggle/rabbitmq-cluster-operator/templates/cluster-operator.yaml", "--force-exclude"]

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.12.0
    hooks:
      - id: renovate-config-validator
        args: [--strict]
